.section__repositories{
  display: flex;
  justify-content: center;
  li{
    margin-bottom: 5rem;
    .repository__title{
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 1rem;
      transition: 0.2s all ease;
    }
    .repository__title:active,
    .repository__title:hover{
      color: rgb(10, 141, 141);
      cursor: pointer;
    }
    .repository{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .repository__info{
        display: flex;
        flex-direction: row;
        .repository__language{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 2rem;
          .repository__language_name{
            margin-left: 0.5rem;
          }
        }
      }
    }
    .repository_underline{
      border-bottom: 1px solid black;
    }
  } 
}