.repository__wrapper{
  display: flex;
  justify-content: center;
  .section__repository{

    margin-top: 50px;
    width: 1140px; 
    .repository__title{
      font-size: 25px;
      font-weight: 600;
    }
    .repository__branche{
      color: black;
      width: 100px;
      height: 100px;
      background: red;
    }
  }
}